@using Orders.Web.Models
@model OrderModel

@{
	ViewBag.Title = "EditOrder";
}

<h2>EditOrder</h2>

@using (Html.BeginForm("Update", "Order", new { @class = "form-horizontal", role = "form" }))
{
	<div class="mb-3">
		<label class="form-label">Order Number </label>@Html.TextBoxFor(m => m.OrderNumber, new { @readonly="readonly", @class = "form-control" })
	</div>
	<div class="mb-3">
		<label class="form-label">Customer Name </label>@Html.DropDownListFor(m => m.CustomerId, new SelectList(Model.Customers, "Id", "FullName", Model.CustomerId), new { @class = "form-select" })
	</div>
	<div class="mb-3">
		<label class="form-label">Quantity </label> @Html.EditorFor(model => model.Quantity, new { HtmlAttributes = new { @type = "number", @min = "0", @step = "1", @class = "form-control" } })
	</div>

	@Html.HiddenFor(model => model.Id)
	<div class="mb-3">
		<input type="button" class="btn btn-secondary" value="Back" onclick="location.href='@Url.Action("Index", "Order")'" /> <input class="btn btn-primary" type="submit" value="Save" />
	</div>
}
