@using Orders.Web.Models
@model OrderModel

@{
	ViewBag.Title = "Add";
}

@using (Html.BeginForm("SaveChanges", "Order", new { @class = "form-horizontal", role = "form" }))
{
	@if (Model.IsEdit)
	{
		<h2>Edit</h2>
		<div class="mb-3">
			<label class="form-label">Order Number: </label> @Model.OrderNumber
		</div>
		<div class="mb-3">
			<label class="form-label">Customer Name: </label> @Model.CustomerName
		</div>
	}
	else
	{
		<h2>Add</h2>
		<div class="mb-3">
			<label class="form-label">Customer Name: </label> @Html.DropDownListFor(m => m.CustomerId, new SelectList(Model.Customers, "Id", "FullName", Model.CustomerId), new { @class = "form-select" })
		</div>
	}

	<div class="mb-3">
		<label class="form-label">Quantity: </label> @Html.EditorFor(m => m.Quantity, new { HtmlAttributes = new { @type = "number", @min = "0", @step = "1", @class = "form-control" } })
	</div>

	@Html.HiddenFor(model => model.Id)
	@Html.HiddenFor(model => model.IsEdit)

	<div class="mb-3">
		<input type="button" class="btn btn-secondary" value="Back" onclick="location.href='@Url.Action("Index", "Order")'" /> <input class="btn btn-primary" type="submit" value="Save" />
	</div>
}
