@using Orders.Web.Models
@model IEnumerable<OrderItemModel>

@{
	ViewBag.Title = "View";
}

<script>
	var orderId;

	function SetDelId(targetId) {
		$('#delModal').modal('show');
		orderId = targetId;
	};

	function confirmDel() {
		var url = "/Order/Delete";
		$.post(url, { OrderId: orderId }, RedirectOnSuccess);
	};

</script>

<h2>Order List</h2>

<div class="text-right">@Html.ActionLink("Add New Order", "CreateOrder", "Order")</div>
<table class="table table-striped">
	<tr>
		<th scope="col">Order Number</th>
		<th scope="col">First Name</th>
		<th scope="col">Last Name</th>
		<th scope="col">Order Quantity</th>
		<th scope="col">Options</th>
	</tr>
	@foreach (var order in Model)
	{
		<tr>
			<td>@order.OrderNumber</td>
			<td>@order.FirstName</td>
			<td>@order.LastName</td>
			<td>@order.Quantity</td>
			<td>@Html.ActionLink("EDIT", "Edit", "Order", new { @id = order.Id }, null) | <a class="delOrder" onclick="SetDelId(@order.Id)">DELETE</a></td>
		</tr>
	}
</table>

<div class="modal" id="delModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Deletion</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this order?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delConfirmBtn" onclick="confirmDel()">Yes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>