@using Orders.Web.Models
@model OrderItemModel

@{
	ViewBag.Title = "View";
}

<script>
	var orderId;

	function SetDelId(targetId) {
		$('#delModal').modal('show');
		orderId = targetId;
	};

	function confirmDel() {
		var url = "/Order/Delete";
		$.post(url, { OrderId: orderId }, RedirectOnSuccess);
	};
</script>

<h2>Order List</h2>
@if(Model.NewOrderNum != null)
{
	<div class="alert alert-secondary alert-dismissible fade show" role="alert">
		Successfully added order number @Model.NewOrderNum
		<button type="button" class="btn-close" data-bs-dismiss="alert" />
	</div>
}
<div class="container d-grid gap-3">
	<div class="py-2 row justify-content-end"><input type="button" class="btn btn-dark col-2" value="Add New Order" onclick="location.href='@Url.Action("CreateOrder", "Order")'" /></div>
</div>
<table>
	<orderhead />
	<tbody class="table-group-divider">
	@foreach (var order in Model.OrderItems)
	{
		<tr>
			<td>@order.OrderNumber</td>
			<td>@order.FirstName</td>
			<td>@order.LastName</td>
			<td>@order.Quantity</td>
			<td>
				<div class="btn-group" role="group">
					<button class="btn btn-dark btn-sm" onclick="location.href='@Url.Action("Edit", "Order", new { @id = order.Id })'">Edit</button><button class="btn btn-dark btn-sm" onclick="SetDelId(@order.Id)">Delete</button>
				</div>
			</td>
		</tr>
	}
	</tbody>
</table>

<div class="modal" id="delModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm Deletion</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Are you sure you wish to delete this order? 
					This action cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="delConfirmBtn" onclick="confirmDel()">Yes</button>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>